body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}


.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.agency-logo {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100000;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    opacity: 0.5;
}

@media (max-width:767px){
    .agency-logo {
        display:none;
    }
}

.pac-container {
    z-index: 100000;
}

.float-left 
{
    float: left;
}

.float-right
{
    float: right;
}

.table-sizing
{
    width: 80%;
    font-size: 80%;
}

.delete 
{
    color: red;
}

.apply
{
    color: SeaGreen;
}

.remove
{
    color: FireBrick;
}

.nested-white
{
    color: white;
}

.inline-hdr
{
    display: inline;
}

.row-format 
{
    background-color: lightblue !important;
    font-weight: bold !important;
}

.column-fmt
{
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 73, 97) !important;
    font-size: 90% !important;
    color: rgb(255, 255, 255);
}

.md-datepicker-calendar-pane 
{
    z-index: 3000 !important;
}

tr.header {
    background-color:#0074d9 !important;
    font-weight:bold !important;
    color: white;
}

tr.body {
    background-color:rgb(0, 73, 97) !important;
    color: rgb(255, 255, 255);
    font-size: 90% !important;
}
