<!DOCTYPE html>
<html ng-app="myApp" ng-controller="mainCtrl" ng-init="init(false);">

<head>
	<title>ASU CSE412 - Traffic Accidents</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<img class="agency-logo" src="./images/agency.png" alt="AGENCY 9-1-1" style="width:132px;height:132px;">
	<div id="sidebar" class="sidebar collapsed">
		<!-- Nav tabs -->
		<div class="sidebar-tabs">
			<ul role="tablist">
				<li><a href="#home" role="tab" title="Infomation"><i class="fa fa-bars"></i></a></li>
				<li><a href="#filter" role="tab" title="Filtering"><i class="fa fa-filter"></i></a></li>
				<li><a href="#table" role="tab" title="Data View"><i class="fa fa-table"></i></a></li>
			</ul>

			<ul role="tablist">
				<li><a href="#settings" role="tab" title="Settings"><i class="fas fa-cogs"></i></a></li>
			</ul>
		</div>

		<!-- Tab panes -->
		<div class="sidebar-content">
			<div class="sidebar-pane" id="home">
				<h1 class="sidebar-header">
					Infomation
					<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />
				
				<h3>Synopsis</h3>
				<p>
					The goal of this project was to provide a way to visualize traffic accidents within 
					the Washington and Clackamas counties in Oregon. This map has a heatmap overlay of 
					every traffic accident, injury or non-injury incident, between the years 2014 and 2016. 
					This allows the user to view hotspots in both counties which can help identify problematic 
					intersections or determine if fire stations are located appropriately around the county 
					with relation to traffic accident incidents. This data was provided by the Washington 
					County Consolidated Communications Agency (<a href="http://www.wccca.com/">WCCCA</a>).
				</p>

				<p>
					This was created during Fall 2021 as the semester project for
					Dr. Jia Zou's Database Management (CSE412) course at Arizona
					State University
				</p>

				<h3>Features</h3>
				<ul>
					<li>Dynamically generated heatmap</li>
					<li>Heatmap filtering by area, date, or both</li>
					<li>Data table of mapped incidents with units assigned</li>
					<li>Adjustable heatmap extrema and radius</li>
				</ul>
				<br />
				<hr>

				<h3>User Manual</h3>
				<p>
					The sidebar has four icons on the left side of the panel at the top and bottom.
					Clicking these icons switches between the following 4 pages:
					Infomation, Filtering, Data View, and Settings.
				</p>
				<br />
				<h4>Filtering <i class="fa fa-filter"></i></h4>
				<ul>
					<li>
						<h5>Area</h5>
					</li>
					<ul>
						<li>
							<h6>Purpose</h6>
						</li>
						<p>
							This feature will allow the user to place down a movable circle with an adjustable radius.
							Once placed the circle will restrict the incidents within the bounds of the circle providing
							a more focused view of the heatmap to a certain geographical area.
							<img class="contain" src="./images/ex/CircleMoveAdjustEx.png" alt="Circle Move Adjust Example">
						</p>
						<li>
							<h6>Adding</h6>
						</li>
						<p>
							The circle filter can be added to the map by pressing the add circle button (<i
								class="fas fa-map-marked-alt apply"></i>).
							Once added, the circle filter can be resized and dragged around the map which will dynamically
							filter the incidents automatically.

							Both the area filter and date filter can be applied simultaneously.
						</p>
						<li>
							<h6>Removing</h6>
						</li>
						<p>
							The circle filter can be removed by pressing the remove circle button (<i
								class="far fa-times-circle remove"></i>) this will reset
							the map to before applying the area filter.
							<br />
							<b>Note:</b> removal does not reset the date filter.
						</p>
					</ul>
					<li>
						<h5>Date</h5>
						<ul>
							<li>
								<h6>Purpose</h6>
							</li>
							<p>
								Filtering by date allows the user to restrict the incidents on the map between a lower
								and upper bound.
							</p>
							<li>
								<h6>Adding</h6>
							</li>
							<p>
								The date filter has 2 text boxes: the left is the lower bound and the right is
								the upper bound.
								The lower bound specifies the minimum date that an incident could occur and the upper 
								bound is the maximum date an incident could occur.
								Entering a valid date into either of these text boxes will restrict the incidents shown
								on map between the entered bounds.

								The minimum valid date is 11/8/2013 and the maximum is 10/21/2016.

								Additionally, the arrow pointing down on the text boxes can be clicked to enable
								calendar mode for easier date selection.
							</p>
							<img class="contain" src="./images/ex/DateEx.png" alt="Date Example 1">
							<p>
								Once the upper and lower bounds are set to satisfaction, the filter can be applied by 
								clicking the apply date filter
								button (<i class="far far fa-calendar-check apply"></i>). Both the date filter and area
								filter can be applied simultaneously.
							</p>
							<li>
								<h6>Removing</h6>
							</li>
							<p>
								The date filter can be removed by pressing the remove date filter button (<i
									class="far fa-calendar-times remove"></i>).

								This will reset the map to before the date filter was applied.
								<br />
								<b>Note:</b> removal does not reset the area filter.
							</p>
						</ul>
					</li>
				</ul>
				<br />
				<br />

				<h4>Data View <i class="fa fa-table"></i></h4>
				<p>
					The data view page displays a table of all incidents currently visibile on the map.
					The arrow on the first column facing right can be clicked and the call can be expanded
					to display the units that were assigned to that incident as well as their statuses. 
				</p>
					<img class="contain" src="./images/ex/DataViewEx.png" alt="Date Example 1">
				<p>
					The incidents are limited by pages. Press the right arrow button to change to the next page 
					and press the left arrow button to return to the previous page.
				</p>
					<img class="contain" src="./images/ex/DataViewEx2.png" alt="Date Example 1">
				<p>	
					Dates before 2014-02-14 do not have units.
				</p>
				<br />
				<br />

				<h4>Settings <i class="fa fa-cogs"></i></h4>
				<p> The settings page allows the user to change certian metrics of the heatmap such as radius, opacity, and scaling.</p>
				<ul>
					<li><h6>Radius</h6></li>
					<p>Sets the search distance for incidents on the map to be grouped in the heatmap. If scale radius is enabled, then it should be small and less than 1 ie: 0.5, 0.05, 0.005, etc.</p>
					<li><h6>Opacity</h6></li>
					<p>The level of transparacy of the heatmap in relation to the map</p>
					<li><h6>Scale Radius</h6></li>
					<p>Scales the radius based upon the map zoom</p>
					<li><h6>Local Extrema</h6></li>
					<p>Uses the data maximum within the current map boundaries</p>
				</ul>
				<p>Once the settings are configured to the user's satisfaction, they can be applied by clicking the apply button.</p>
				<br />
				<hr>

				<h3>Technology</h3>
				<ul>
					<li>Ubuntu 20.04.3 LTS</li>
					<li>Apache 2.4.41</li>
					<li>PostgreSQL 12.9</li>
					<li>PHP 8.0.13</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<ul>
						<li>Awesome Fonts</li>
					</ul>
					<li>JavaScript</li>
					<ul>
						<li>Leaflet 1.2.0</li>
						<ul>
							<li>Sidebar 3.2.3</li>
							<li>Draw 1.0.4</li>
							<li>Heatmap 2.0.5</li>
						</ul>
						<li>Angular 1.7.6</li>
						<ul>
							<li>Animate 1.7.6</li>
							<li>Aria 1.7.6</li>
							<li>Material 1.1.12</li>
							<li>Messages 1.7.6</li>
						</ul>
					</ul>
				</ul>
				<br />

				<h3>Credits</h3>
				<ul>
					<li>
						<h5>Brandan Tyler Lasley - <a href="https://github.com/TylerTheFox">Github</a></h5>
					</li>
					<li>
						<h5>Daniel Salas - <a href="https://github.com/Daniel-Salas481">Github</a></h5>
					</li>
					<li>
						<h5>Andrew Thomas - <a href="https://github.com/andrewgucci">Github</a></h5>
					</li>
				</ul>

				<p> The Github Repository is avaialble <a
						href="https://github.com/TylerTheFox/CSE412-Traffic-Accident-Project">here</a>!</p>
			</div>

			<div class="sidebar-pane" id="filter">
				<h1 class="sidebar-header">
					Filtering
					<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />
				<h4>By Area:
					<br />

					<i class="fas fa-map-marked-alt apply" ng-click="PlaceRadiusMarker()"></i>
					<i class="far fa-times-circle remove" ng-click="RemoveRadiusMarker()"></i>
					<h5 ng-if="Radius > 0">Radius = {{ Radius }} (Miles)</h5>

				</h4>
				<br />
				<h4>By Date:
					<br />

					<md-datepicker ng-model="DateFrom" md-placeholder="Enter date" md-hide-icons="calendar"
						md-min-date="MinDate" md-max-date="MaxDate" input-aria-describedby="datepicker-description"
						input-aria-labelledby="datepicker-header ">
					</md-datepicker>

					&ndash;

					<md-datepicker ng-model="DateTo" md-placeholder="Enter date" md-hide-icons="calendar"
						md-min-date="MinDate" md-max-date="MaxDate" input-aria-describedby="datepicker-description"
						input-aria-labelledby="datepicker-header ">
					</md-datepicker>

					<h3>
						<i class="far far fa-calendar-check apply" ng-click="ApplyDateFilter()"></i>
						<i class="far fa-calendar-times remove" ng-click="ResetDateFilter()"></i>
					</h3>
				</h4>
			</div>

			<div class="sidebar-pane" id="table">
				<h1 class="sidebar-header">
					Data View
					<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />
				<div>
					<div class="float-left">
						<button class="btn btn-info float-left" ng-disabled="currentPage == 0"
							ng-click="currentPage = currentPage - 1">
							<i class="fas fa-caret-left nested-white"></i>
						</button>

						<h5 class="inline-hdr">&ensp;{{currentPage + 1}}/{{numberOfPages()}}&ensp;</h5>

						<button class="btn btn-info float-right"
							ng-disabled="currentPage >= MainDataTable.length / pageSize - 1"
							ng-click="currentPage = currentPage + 1">
							<i class="fas fa-caret-right nested-white"></i>
						</button>
					</div>
					<br />
					<br />
					<br />

					<table class="table table-striped table-bordered table-hover table-sizing">
						<thead>
							<tr>
								<th></th>
								<th ng-repeat="hdr in TableHeaders">{{ hdr }}</th>
							</tr>
						</thead>

						<tbody>
							<tr
								ng-repeat-start="x in (MainDataTable = CurrentData) | startFrom:currentPage * pageSize | limitTo:pageSize">
								<td>
									<span ng-show="x.incidentid !== CurrentlySelectedCall"
										ng-click="GetCallData(x.incidentid)" class="fa fa-caret-right"></span>
									<span ng-show="x.incidentid === CurrentlySelectedCall"
										ng-click="GetCallData(x.incidentid)" class="fa fa-caret-down"></span>
								</td>
								<td>{{ x.received }}</td>
								<td>{{ x.callnum }}</td>
								<td>{{ x.description }}</td>
								<td>{{ x.address }}</td>
							</tr>

							<tr class="header" ng-if="x.incidentid === CurrentlySelectedCall">
								<td>Unit</td>
								<td>Dispatched</td>
								<td>En-route</td>
								<td>On-scene</td>
								<td>Clear</td>
							</tr>

							<tr class="body" ng-if="x.incidentid === CurrentlySelectedCall"
								ng-repeat="unit in RawUnitData">
								<td>{{ unit.name }}</td>
								<td>{{ unit.dispatched }}</td>
								<td>{{ unit.enroute }}</td>
								<td>{{ unit.onscene }}</td>
								<td>{{ unit.clear }}</td>
							</tr>

							<tr ng-if="x.incidentid === CurrentlySelectedCall" ng-repeat-end>
								<td class="column-fmt" colspan="5" ng-if="!RawUnitData.length">No unit data available
									for accident.</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>


			<div class="sidebar-pane" id="settings">
				<h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />
				<p> Radius: <input ng-model="cfg.radius" type="number" id="range" name="range" min="0" max="100"></p>
				<p> Max Opacity: <input ng-model="cfg.maxOpacity" type="number" id="CfgOpacity" name="CfgOpacity"
						min="0" max="100"></p>
				<p> Scale Radius: <input ng-model="cfg.scaleRadius" type="checkbox" id="CfgScaleRadius"
						name="CfgScaleRadius"></p>
				<p> Local Extrema: <input ng-model="cfg.useLocalExtrema" type="checkbox" id="CfgExtreme"
						name="CfgExtreme"></p>
				<button ng-click="ApplyCfg()">Apply</button>
			</div>
		</div>
	</div>


	<div id="map" class="sidebar-map"></div>

	<link rel="stylesheet" href="./css.php">
	<script src="./js.php"></script>
</body>

</html>