<!DOCTYPE html>
<html ng-app="myApp" ng-controller="mainCtrl" ng-init="init(false);">

<head>
	<title>ASU CSE412 - Traffic Accidents</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<img class="agency-logo" src="./images/agency.png" alt="AGENCY 9-1-1" style="width:132px;height:132px;">
	<div id="sidebar" class="sidebar collapsed">
		<!-- Nav tabs -->
		<div class="sidebar-tabs">
			<ul role="tablist">
				<li><a href="#home" role="tab" title="Infomation"><i class="fa fa-bars"></i></a></li>
				<li><a href="#filter" role="tab" title="Filtering"><i class="fa fa-filter"></i></a></li>
				<li><a href="#table" role="tab" title="Data View"><i class="fa fa-table"></i></a></li>
			</ul>

			<ul role="tablist">
				<li><a href="#settings" role="tab" title="Settings"><i class="fas fa-cogs"></i></a></li>
			</ul>
		</div>

		<!-- Tab panes -->
		<div class="sidebar-content">
			<div class="sidebar-pane" id="home">
				<h1 class="sidebar-header">
					Infomation
					<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />

				<h3>Synopsis</h3>
				<p>
					The intention of this project was to provide a way to visualize traffic accidents
					within the countires of Washington and Clackamas in Oregon. This map is a heat map
					of every traffic accicent injury or non injury between the years 2014 and 2016. This
					allows the user to view hot spots with the county, spot trouble intersections or
					determine of fire stations are placed appopiately around the county with relation to
					traffic accident incidents. This data was provided by the Washington County Coordinated
					Communications Agency (<a href="http://www.wccca.com/">WCCCA</a>).
				</p>

				<p>This was created for Arizona State University CSE412 as a semester project during Fall 2021</p>

				<h3>Features</h3>
				<ul>
					<li>Dynamically generated hotspots</li>
					<li>Filtering by area, date or both</li>
					<li>Data table of calls on map with units assigned</li>
					<li>Adjustable heatmap extrema configuration</li>
				</ul>

				<h3>Instructions:</h3>
				<p>
					The side bar (The thing you're looking at) has icons on the left side of the panel.
					Clicking these icons switches between pages, currently theres 4 pages which are
					Infomation, Filtering, Data View, and Settings. You are currently reading the infomation page.
				</p>
				<h4>Filtering <i class="fa fa-filter"></i></h4>
				<ul>
					<li>
						<h5>Area</h5>
					</li>
					<ul>
						<li>
							<h6>Purpose</h6>
						</li>
						<p>
							This feature will allow the user to place down a movable circle with an adjustable radius.
							Once placed the circle will restrict the incidents within the bounds of the circle providing
							a more focused view of the heat map to a certian geographical area.
							<img src="./images/ex/CircleEx1.png" alt="Circle Example 1">
						</p>
						<li>
							<h6>Adding</h6>
						</li>
						<p>
							The circle can be added to the map by pressing the add circle button (<i
								class="fas fa-map-marked-alt apply"></i>).
							Once added the circle can be resized and dragged around the map which will dynamically
							filter the incidents automatically.

							You can use both the date filter and area filter simultaneously.
						</p>
						<li>
							<h6>Removing</h6>
						</li>
						<p>
							The circle can be removed by pressing the remove circle button (<i
								class="far fa-times-circle remove"></i>) this will reset
							the map to before applying the area filter.

							This does not reset the date filters.
						</p>
					</ul>
					<li>
						<h5>Date</h5>
						<ul>
							<li><h6>Purpose</h6></li>
							<p> My purpose </p>
							<li><h6>Adding</h6></li>
							<p> Adding it </p>
							<li><h6>Removing</h6></li>
							<p> Removing it </p>
						</ul>
					</li>
				</ul>

				<h4>Data View <i class="fa fa-table"></i></h4>
				<p> Data goes here </p>
				<h4>Settings <i class="fa fa-cogs"></i></h4>
				<p> Settings goes here </p>
				<br />

				<h3>Technology</h3>
				<p> Technology used goes here </p>

				<h3>Credits</h3>
				<p> Credits used goes here </p>

				<p> This should include screenshots or icons of the things you're talking about. </p>
			</div>

			<div class="sidebar-pane" id="filter">
				<h1 class="sidebar-header">
					Filtering
					<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />
				<h4>By Area:
					<br />

					<i class="fas fa-map-marked-alt apply" ng-click="PlaceRadiusMarker()"></i>
					<i class="far fa-times-circle remove" ng-click="RemoveRadiusMarker()"></i>
					<h5 ng-if="Radius > 0">Radius = {{ Radius }} (Miles)</h5>

				</h4>
				<br />
				<h4>By Date:
					<br />

					<md-datepicker ng-model="DateFrom" md-placeholder="Enter date" md-hide-icons="calendar"
						md-min-date="MinDate" md-max-date="MaxDate" input-aria-describedby="datepicker-description"
						input-aria-labelledby="datepicker-header ">
					</md-datepicker>

					&ndash;

					<md-datepicker ng-model="DateTo" md-placeholder="Enter date" md-hide-icons="calendar"
						md-min-date="MinDate" md-max-date="MaxDate" input-aria-describedby="datepicker-description"
						input-aria-labelledby="datepicker-header ">
					</md-datepicker>

					<h3>
						<i class="far far fa-calendar-check apply" ng-click="ApplyDateFilter()"></i>
						<i class="far fa-calendar-times remove" ng-click="ResetDateFilter()"></i>
					</h3>
				</h4>
			</div>

			<div class="sidebar-pane" id="table">
				<h1 class="sidebar-header">
					Data View
					<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />
				<div>
					<div class="float-left">
						<button class="btn btn-info float-left" ng-disabled="currentPage == 0"
							ng-click="currentPage = currentPage - 1">
							<i class="fas fa-caret-left nested-white"></i>
						</button>

						<h5 class="inline-hdr">&ensp;{{currentPage + 1}}/{{numberOfPages()}}&ensp;</h5>

						<button class="btn btn-info float-right"
							ng-disabled="currentPage >= MainDataTable.length / pageSize - 1"
							ng-click="currentPage = currentPage + 1">
							<i class="fas fa-caret-right nested-white"></i>
						</button>
					</div>
					<br />
					<br />
					<br />

					<table class="table table-striped table-bordered table-hover table-sizing">
						<thead>
							<tr>
								<th></th>
								<th ng-repeat="hdr in TableHeaders">{{ hdr }}</th>
							</tr>
						</thead>

						<tbody>
							<tr
								ng-repeat-start="x in (MainDataTable = CurrentData) | startFrom:currentPage * pageSize | limitTo:pageSize">
								<td>
									<span ng-show="x.incidentid !== CurrentlySelectedCall"
										ng-click="GetCallData(x.incidentid)" class="fa fa-caret-right"></span>
									<span ng-show="x.incidentid === CurrentlySelectedCall"
										ng-click="GetCallData(x.incidentid)" class="fa fa-caret-down"></span>
								</td>
								<td>{{ x.received }}</td>
								<td>{{ x.callnum }}</td>
								<td>{{ x.description }}</td>
								<td>{{ x.address }}</td>
							</tr>

							<tr class="header" ng-if="x.incidentid === CurrentlySelectedCall">
								<td>Unit</td>
								<td>Dispatched</td>
								<td>En-route</td>
								<td>On-scene</td>
								<td>Clear</td>
							</tr>

							<tr class="body" ng-if="x.incidentid === CurrentlySelectedCall"
								ng-repeat="unit in RawUnitData">
								<td>{{ unit.name }}</td>
								<td>{{ unit.dispatched }}</td>
								<td>{{ unit.enroute }}</td>
								<td>{{ unit.onscene }}</td>
								<td>{{ unit.clear }}</td>
							</tr>

							<tr ng-if="x.incidentid === CurrentlySelectedCall" ng-repeat-end>
								<td class="column-fmt" colspan="5" ng-if="!RawUnitData.length">No unit data available
									for accident.</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>


			<div class="sidebar-pane" id="settings">
				<h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
				</h1>
				<br />
				<p> Radius: <input ng-model="cfg.radius" type="number" id="range" name="range" min="0" max="100"></p>
				<p> Max Opacity: <input ng-model="cfg.maxOpacity" type="number" id="CfgOpacity" name="CfgOpacity"
						min="0" max="100"></p>
				<p> Scale Radius: <input ng-model="cfg.scaleRadius" type="checkbox" id="CfgScaleRadius"
						name="CfgScaleRadius"></p>
				<p> Local Extrema: <input ng-model="cfg.useLocalExtrema" type="checkbox" id="CfgExtreme"
						name="CfgExtreme"></p>
				<button ng-click="ApplyCfg()">Apply</button>
			</div>
		</div>
	</div>


	<div id="map" class="sidebar-map"></div>

	<link rel="stylesheet" href="./css.php">
	<script src="./js.php"></script>
</body>

</html>